{% load static %}

<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">

<h3>Guzide PORTAKALOGLU</h3>
<img src="{% static 'images/Ekran(47).png'%}">
<img src="{% static 'images/Ekran(65).png'%}">
<img src="{% static 'images/Ekran(64).png'%}">


{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Guzide PORTAKALOGLU</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Ekran(31).png' %}" >
					<hr>
                    
					<h4>Hi I'm Guzide!</h4>
					<p>I love programming, doing research and collaborating</p>
                    <ul class="social-links">						
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<a rel="githubpage" href="https://github.com/hgihliugi"><ion-icon name="logo-github" size=large></ion-icon></a>
						<a href="https://www.linkedin.com/in/guzide-portakaloglu-7a2266223/your/profile/url" class="social-icon si-rounded si-small si-linkedin">
							<i class="icon-linkedin"></i>
						  </a>
					</ul>
                </div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					
                    
                    <h4>Software Engineer</h4>
					<hr>
					<p>My software development exprience has been qualified with Leetcode Dynamic Programming Solutions enabling me coding in O(n) runtime as well as using appropriate Data Structures to diminish extra space used to allocate memory in least space consuming manner. l utilize Python language in order to efficiently express boolean Lines, edge cases, DFS functions and helper functions sometimes leading to allocate just constant space and time.</p>

					<p>l am qualified in written and spoken English skills in the literal British English Accent with excellent pronounciation due to my early childhood education programme . I participated in assertive debates with my university instructors in the fields of political science, economy, sociology, history, philosophy, logic and psychology. I criticised either the logical inconsistencies, or opened up a challenging new perspective for the unrevolutionised social sciences that the occidental thinking was strucked in. I have a selfconfident manner and always told to be very intelligent through my lifetime.</p>

					<p>Nationality: 🇹🇷 Turkey</p>

                    <p>Residency: 🇹🇷 Turkey</p>
                    			
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>

                    <img src="{% static 'images/Ekran(67).png'%}">
					
                    <hr>					
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Web Development Experience</h5>
                    
					<hr>
					<p>Python, Django, HTML, Django REST Framework, Django Async Views, Django Class-Based Views, Object Related Mapper, Object Oriented Programming, SQL and NoSQL, JavaScript, React, Heroku and APIs, JavaScript, User Authorization & Authentication</p>
					<p>FAST API, JSON-Rendering, Big Data, and Blockchain Technologies</p>
                    <p>E-COMMERCE Web App, Discord-like Social Media App, Personal Website, Telegram ChatBot Programming with Python Telegram Bot API</p>
                    
                </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p><h4>Python & Django Developer</h4>
                        <h4>Blockchain Architect</h4></p>

					<p>Bootcamps, Hackhatons, Live-Stream Coding Challenge Videos, Playlists of Senior Engineers, Making Projects with New Features</p>
                    <img src="{% static 'images/Ekran(48).png'%}">
                    
                    <img src="{% static 'images/Ekran(62).png'%}">
                    
                </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<img src="{% static 'images/Ekran(60).png'%}">
				<p></p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>



